#cfh-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 200;
    background-color: rgba(128, 128, 128, 0.42);
}
#cfh-overlay .cfh-content{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#cfh-overlay .cfh-content .cfh-message-box{
    padding: 40px 100px 48px 75px;
    background-color: #FFF;
    border: 1px solid #6C6C6C;
    position: relative;
}
#cfh-overlay .cfh-content .cfh-message-area{
    width: 300px;
    padding-bottom: 60px;
    min-height: 72px;
}
#cfh-overlay .cfh-content .cfh-cancel{
    border: 1px solid #6C6C6C;
    padding: 16px 26px;
}

#cfh-overlay .cfh-content .cfh-ok{
    padding: 16px 46px;
    margin-right: 16px;
}

.cfh-close{
    position: absolute;
    top: -16px;
    right: -16px;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    /*border: none;*/
    background-color: #F9F9F9;
    border: 1px solid #6C6C6C;
}
.cfh-close:hover{
    border: 1px solid #858585;
    background-color: #FFF;
}
.cfh-close:before, .cfh-close:after {
    position: absolute;
    left: 14px;
    content: ' ';
    height: 14px;
    width: 1.5px;
    top: 8px;
    background-color: #6C6C6C;
}
.cfh-close:before {
    transform: rotate(45deg);
}
.cfh-close:after {
    transform: rotate(-45deg);
}

@media (max-width: 767px) {
    #cfh-overlay .cfh-content .cfh-message-box {
        padding: 30px 40px 28px 35px;
    }
    #cfh-overlay .cfh-content .cfh-message-area{
        width: 265px;
        font-size: 20px;
        line-height: 32px;
    }
    #cfh-overlay .cfh-content .cfh-message-area .button{

    }
}
